{
  "plugins": [
    "prettier-plugin-astro"
  ],
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "printWidth": 180,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": [
        "*.astro",
        "*.md"
      ],
      "options": {
        "parser": "astro"
      }
    }
  ]
}