---
import Expo from "@/layouts/Expo.astro";
---

<Expo>
  <section class="break-inside mb-3 gap-3 columns-2 items-start">
    <article class="border break-inside rounded-xl p-3 mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-center justify-between gap-3">
        <img
          class="flex-none w-9 h-9 rounded-full object-cover"
          src="https://images.pexels.com/photos/2169434/pexels-photo-2169434.jpeg?100&h=100&dpr=2"
          data-author="https://www.pexels.com/es-es/@heitorverdifotos/"
          alt="avatar"
          loading="lazy"
        />
        <button class="inline-flex items-center justify-center w-8 h-8 focus:ring-2 transition-colors rounded-full focus:ring-primary hover:bg-foreground/5">
          <svg data-icon="more-horiz" xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28" fill="currentColor"
            ><path
              d="M213.07-406q-30.59 0-52.21-21.79-21.63-21.78-21.63-52.37 0-30.59 21.79-52.21Q182.8-554 213.39-554q30.59 0 52.22 21.79 21.62 21.78 21.62 52.37 0 30.59-21.78 52.21Q243.66-406 213.07-406Zm266.77 0q-30.59 0-52.21-21.79Q406-449.57 406-480.16q0-30.59 21.79-52.21Q449.57-554 480.16-554q30.59 0 52.21 21.79Q554-510.43 554-479.84q0 30.59-21.79 52.21Q510.43-406 479.84-406Zm266.77 0q-30.59 0-52.22-21.79-21.62-21.78-21.62-52.37 0-30.59 21.78-52.21Q716.34-554 746.93-554q30.59 0 52.21 21.79 21.63 21.78 21.63 52.37 0 30.59-21.79 52.21Q777.2-406 746.61-406Z"
            ></path></svg
          >
        </button>
      </header>
      <section class="mt-1.5 grid gap-2">
        <div class="w-full grid">
          <h2 class="text-sm font-medium">Angela Gomez</h2>
          <p class="text-foreground/70">Music producer</p>
        </div>
        <div class="w-full flex items-center justify-between gap-3">
          <button class="flex flex-none justify-center items-center rounded-full w-6 h-6 transition-all duration-300 bg-foreground text-background focus:ring-2 focus:ring-foreground">
            <svg data-icon="play-fill" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="currentColor"
              ><path
                d="M340-302.23v-355.54q0-15.84 10.87-26 10.87-10.15 25.37-10.15 4.53 0 9.5 1.31 4.97 1.3 9.49 3.92l279.84 178.15q8.24 5.62 12.35 13.46 4.12 7.85 4.12 17.08 0 9.23-4.12 17.08-4.11 7.84-12.35 13.46L395.23-271.31q-4.53 2.62-9.52 3.92-4.98 1.31-9.51 1.31-14.51 0-25.35-10.15-10.85-10.16-10.85-26Z"
              ></path></svg
            >
          </button>
          <span class="font-medium px-2 py-1 rounded bg-emerald-500/10 text-emerald-500">20 songs</span>
        </div>
      </section>
      <section class="w-full mt-2">
        <div class="flex gap-[1px] items-center flex-row justify-between w-full h-9 cursor-pointer">
          <div class="w-0.5 h-[15%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[20%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[30%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[40%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[40%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[30%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[35%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[45%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[55%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[50%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[40%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[30%] rounded-full bg-foreground"></div>
          <div class="w-0.5 h-[20%] rounded-full bg-foreground/30"></div>
          <div class="w-0.5 h-[15%] rounded-full bg-foreground/30"></div>
          <div class="w-0.5 h-[10%] rounded-full bg-foreground/30"></div>
          <div class="w-0.5 h-[15%] rounded-full bg-foreground/30"></div>
          <div class="w-0.5 h-[20%] rounded-full bg-foreground/30"></div>
          <div class="w-0.5 h-[25%] rounded-full bg-foreground/30"></div>
          <div class="w-0.5 h-[35%] rounded-full bg-foreground/30"></div>
          <div class="w-0.5 h-[25%] rounded-full bg-foreground/30"></div>
        </div>
      </section>
    </article>
    <article class="relative overflow-hidden border break-inside rounded mb-3 text-xs border-border bg-background text-foreground inset-shadow-sm" data-filter="social">
      <header class="w-full relative pt-4 px-4 pb-2">
        <div class="relative grid gap-1.5">
          <img
            class="flex-none w-9 h-9 rounded-full object-cover"
            src="https://images.pexels.com/photos/2128807/pexels-photo-2128807.jpeg?w=100&h=100&dpr=2"
            data-author="https://www.pexels.com/es-es/@david-garrison-1128051/"
            alt="avatar"
            loading="lazy"
          />
          <h2>Richard DJ</h2>
        </div>
      </header>
      <section class="grid gap-3 px-4 pb-4">
        <p class="font-semibold leading-6 text-base">House music producer</p>
        <div class="w-full gap-2">
          <button class="w-full px-3 h-7 rounded-full inline-flex items-center justify-center font-medium bg-foreground text-background">PLAY NOW</button>
        </div>
      </section>
      <div class="absolute bottom-0 left-0 w-full h-1 pointer-events-none bg-foreground/10">
        <div class="w-1/3 h-full bg-foreground"></div>
      </div>
    </article>
    <article class="flex flex-col overflow-hidden border break-inside rounded-xl mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex flex-col items-start p-4">
        <h2 class="text-base font-medium">Songs</h2>
        <p class="text-foreground/70">12 available songs</p>
      </header>
      <div class="grid border-t border-border divide-y divide-border">
        <div class="relative flex items-center justify-between divide-x divide-border transition-colors duration-200 hover:bg-foreground/3 hover:inset-shadow-sm">
          <div class="w-full h-1 absolute bottom-0 left-0 bg-foreground/10">
            <div class="w-4/5 h-full bg-foreground"></div>
          </div>
          <div class="flex flex-col items-start flex-1 p-3">
            <p class="text-sm font-medium">Adrian</p>
            <p class="text-foreground/50">4.32 min</p>
          </div>
          <div class="inline-flex items-center justify-center h-full flex-none p-3">
            <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground text-background">
              <svg data-icon="pause" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 -960 960 960" fill="currentColor"
                ><path
                  d="M588.65-240.92q-12.86 0-21.52-9.08-8.67-9.08-8.67-21.12v-417.76q0-12.04 8.67-21.12 8.66-9.08 21.52-9.08h85.58q12.03 0 21.11 9.08t9.08 21.12v417.76q0 12.04-9.08 21.12-9.08 9.08-21.11 9.08h-85.58Zm-302 0q-12.86 0-21.52-9.08-8.67-9.08-8.67-21.12v-417.76q0-12.04 8.67-21.12 8.66-9.08 21.52-9.08H373q11.44 0 20.81 9.08 9.38 9.08 9.38 21.12v417.76q0 12.04-9.38 21.12-9.37 9.08-20.81 9.08h-86.35Z"
                ></path></svg
              >
            </button>
          </div>
        </div>
        <div class="relative flex items-center justify-between divide-x divide-border transition-colors duration-200 hover:bg-foreground/3 hover:inset-shadow-sm">
          <div class="flex flex-col items-start flex-1 p-3">
            <p class="text-sm font-medium">Marloon</p>
            <p class="text-foreground/50">3.55 min</p>
          </div>
          <div class="inline-flex items-center justify-center h-full flex-none p-3">
            <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground text-background">
              <svg data-icon="play-fill" xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22" fill="currentColor"
                ><path
                  d="M340-302.23v-355.54q0-15.84 10.87-26 10.87-10.15 25.37-10.15 4.53 0 9.5 1.31 4.97 1.3 9.49 3.92l279.84 178.15q8.24 5.62 12.35 13.46 4.12 7.85 4.12 17.08 0 9.23-4.12 17.08-4.11 7.84-12.35 13.46L395.23-271.31q-4.53 2.62-9.52 3.92-4.98 1.31-9.51 1.31-14.51 0-25.35-10.15-10.85-10.16-10.85-26Z"
                ></path></svg
              >
            </button>
          </div>
        </div>
      </div>
    </article>
    <article class="border break-inside rounded-xl text-xs mb-3 border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-center justify-start gap-4 p-3">
        <img
          src="https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?w=100&h=100&dpr=2"
          data-author="https://www.pexels.com/es-es/@3motional-studio-407102/"
          alt="cover"
          class="w-10 h-10 object-cover rounded-full"
        />
        <h2 class="text-sm font-medium">
          Alanna <br /> flick
        </h2>
      </header>
      <section class="w-full border-t p-3 border-border">
        <div class="grid w-full gap-3">
          <div class="w-full flex items-center justify-between gap-2">
            <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
              <svg data-icon="skip-previous-outline" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 -960 960 960" fill="currentColor"
                ><path
                  d="M244.62-297.69v-364.62q0-12.75 8.63-21.37 8.62-8.63 21.38-8.63t21.37 8.63q8.62 8.62 8.62 21.37v364.62q0 12.75-8.63 21.37-8.63 8.63-21.39 8.63-12.75 0-21.37-8.63-8.61-8.62-8.61-21.37Zm414.53-7.16L441.92-450.08q-8.23-5.61-12.15-13.15T425.85-480q0-9.23 3.92-16.77 3.92-7.54 12.15-13.15l217.23-145.23q4.62-3.62 9.85-4.62 5.23-1 10.23-1 14.46 0 25.31 9.94 10.84 9.95 10.84 26.22v289.22q0 16.27-10.84 26.22-10.85 9.94-25.31 9.94-5 0-10.23-1t-9.85-4.62ZM655.38-480Zm0 100v-200L504.77-480l150.61 100Z"
                ></path></svg
              >
            </button>
            <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground text-background">
              <svg data-icon="pause" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 -960 960 960" fill="currentColor"
                ><path
                  d="M588.65-240.92q-12.86 0-21.52-9.08-8.67-9.08-8.67-21.12v-417.76q0-12.04 8.67-21.12 8.66-9.08 21.52-9.08h85.58q12.03 0 21.11 9.08t9.08 21.12v417.76q0 12.04-9.08 21.12-9.08 9.08-21.11 9.08h-85.58Zm-302 0q-12.86 0-21.52-9.08-8.67-9.08-8.67-21.12v-417.76q0-12.04 8.67-21.12 8.66-9.08 21.52-9.08H373q11.44 0 20.81 9.08 9.38 9.08 9.38 21.12v417.76q0 12.04-9.38 21.12-9.37 9.08-20.81 9.08h-86.35Z"
                ></path></svg
              >
            </button>
            <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
              <svg data-icon="skip-next-outline" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 -960 960 960" fill="currentColor"
                ><path
                  d="M655.38-297.69v-364.62q0-12.75 8.63-21.37 8.63-8.63 21.39-8.63 12.75 0 21.37 8.63 8.61 8.62 8.61 21.37v364.62q0 12.75-8.63 21.37-8.62 8.63-21.38 8.63T664-276.32q-8.62-8.62-8.62-21.37Zm-410.76-37.7v-289.22q0-16.27 10.84-26.22 10.85-9.94 25.31-9.94 5 0 10.23 1t9.85 4.62l217.23 145.23q8.23 5.61 12.15 13.15t3.92 16.77q0 9.23-3.92 16.77-3.92 7.54-12.15 13.15L300.85-304.85q-4.62 3.62-9.85 4.62-5.23 1-10.23 1-14.46 0-25.31-9.94-10.84-9.95-10.84-26.22Zm60-144.61Zm0 100 150.61-100-150.61-100v200Z"
                ></path></svg
              >
            </button>
          </div>
          <div class="flex gap-[1px] items-center flex-row justify-between w-full h-9 cursor-pointer">
            <div class="w-0.5 h-[15%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[20%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[30%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[40%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[40%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[30%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[35%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[45%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[55%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[50%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[40%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[30%] rounded-full bg-foreground"></div>
            <div class="w-0.5 h-[20%] rounded-full bg-foreground/30"></div>
            <div class="w-0.5 h-[15%] rounded-full bg-foreground/30"></div>
            <div class="w-0.5 h-[10%] rounded-full bg-foreground/30"></div>
            <div class="w-0.5 h-[15%] rounded-full bg-foreground/30"></div>
            <div class="w-0.5 h-[20%] rounded-full bg-foreground/30"></div>
            <div class="w-0.5 h-[30%] rounded-full bg-foreground/30"></div>
            <div class="w-0.5 h-[30%] rounded-full bg-foreground/30"></div>
          </div>
        </div>
      </section>
    </article>
    <article class="border break-inside rounded-xl p-3 mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-center gap-2 justify-start">
        <img
          class="w-10 h-10 rounded-full object-cover"
          src="https://images.pexels.com/photos/6032213/pexels-photo-6032213.jpeg?w=160&h=160&dpr=2"
          data-author="https://www.pexels.com/es-es/@becerragoveaphoto/"
          alt="avatar"
          loading="lazy"
        />
        <div class="flex flex-col">
          <h2 class="text-sm font-medium leading-snug">
            Alice
            <br />
            Anderson
          </h2>
        </div>
      </header>
      <section class="w-full flex items-center justify-between gap-2 mt-3">
        <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
          <svg data-icon="skip-previous-outline" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 -960 960 960" fill="currentColor"
            ><path
              d="M244.62-297.69v-364.62q0-12.75 8.63-21.37 8.62-8.63 21.38-8.63t21.37 8.63q8.62 8.62 8.62 21.37v364.62q0 12.75-8.63 21.37-8.63 8.63-21.39 8.63-12.75 0-21.37-8.63-8.61-8.62-8.61-21.37Zm414.53-7.16L441.92-450.08q-8.23-5.61-12.15-13.15T425.85-480q0-9.23 3.92-16.77 3.92-7.54 12.15-13.15l217.23-145.23q4.62-3.62 9.85-4.62 5.23-1 10.23-1 14.46 0 25.31 9.94 10.84 9.95 10.84 26.22v289.22q0 16.27-10.84 26.22-10.85 9.94-25.31 9.94-5 0-10.23-1t-9.85-4.62ZM655.38-480Zm0 100v-200L504.77-480l150.61 100Z"
            ></path></svg
          >
        </button>
        <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
          <svg data-icon="skip-next-outline" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 -960 960 960" fill="currentColor"
            ><path
              d="M655.38-297.69v-364.62q0-12.75 8.63-21.37 8.63-8.63 21.39-8.63 12.75 0 21.37 8.63 8.61 8.62 8.61 21.37v364.62q0 12.75-8.63 21.37-8.62 8.63-21.38 8.63T664-276.32q-8.62-8.62-8.62-21.37Zm-410.76-37.7v-289.22q0-16.27 10.84-26.22 10.85-9.94 25.31-9.94 5 0 10.23 1t9.85 4.62l217.23 145.23q8.23 5.61 12.15 13.15t3.92 16.77q0 9.23-3.92 16.77-3.92 7.54-12.15 13.15L300.85-304.85q-4.62 3.62-9.85 4.62-5.23 1-10.23 1-14.46 0-25.31-9.94-10.84-9.95-10.84-26.22Zm60-144.61Zm0 100 150.61-100-150.61-100v200Z"
            ></path></svg
          >
        </button>
        <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
          <svg data-icon="volume-up" xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22" fill="currentColor"
            ><path
              d="M753.85-481q0-82.5-44.21-150.58-44.21-68.09-118.56-101.88-11.54-5.46-17-16.31-5.46-10.84-1.34-22.12 4.95-12.03 17.18-16.72 12.23-4.7 24.77.77 90.46 41.07 144.81 123.6 54.34 82.52 54.34 183.23 0 100.7-54.34 183.24-54.35 82.54-144.81 123.61-12.54 5.47-24.77.77-12.23-4.69-17.18-16.72-4.12-11.28 1.34-22.12 5.46-10.85 17-16.31 74.35-33.79 118.56-101.88Q753.85-398.5 753.85-481ZM294.62-380H182.31q-15.37 0-25.76-10.4-10.39-10.39-10.39-25.76v-127.68q0-15.37 10.39-25.76 10.39-10.4 25.76-10.4h112.31l119.69-119.69q14.38-14.38 33.11-6.49 18.73 7.89 18.73 28.18v396q0 20.29-18.73 28.18-18.73 7.89-33.11-6.49L294.62-380Zm351.53-99.96q0 37.43-15.54 70.85-15.53 33.42-41.88 56.19-8.5 5.69-17.85 1.15-9.34-4.54-9.34-15v-228.46q0-10.46 9.34-15 9.35-4.54 17.85 1.09 26.35 23.45 41.88 57.6 15.54 34.16 15.54 71.58ZM406.15-606l-86 86h-114v80h114l86 86v-252Zm-100 126Z"
            ></path></svg
          >
        </button>
      </section>
      <button class="mt-3 flex-none w-full px-3 border h-7 text-xs flex items-center justify-center rounded-full transition-colors duration-200 border-border hover:bg-foreground/5">
        Play now
      </button>
    </article>
    <article
      class="border break-inside rounded-xl mb-3 text-xs border-border bg-background text-foreground relative overflow-hidden after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:inset-ring after:inset-ring-gray-950/5 dark:after:inset-ring-white/10 bg-[image:radial-gradient(var(--pattern-fg)_1px,_transparent_0)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-gray-950)]/5 dark:[--pattern-fg:var(--color-white)]/10"
      data-filter="social"
    >
      <header class="relative flex items-center gap-2 justify-start px-4 py-6 min-h-14">
        <img
          class="absolute -bottom-3 border-2 border-background ring-1 ring-border w-11 h-11 rounded-full"
          src="https://images.pexels.com/photos/4492924/pexels-photo-4492924.jpeg?w=200&h=200&dpr=2"
          data-author="https://images.pexels.com/photos/4492924/pexels-photo-4492924.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="avatar"
          loading="lazy"
        />
      </header>
      <section class="px-4 pt-6 pb-4 border-t border-border bg-background">
        <div class="flex items-center justify-between gap-2">
          <h2 class="text-sm font-medium leading-snug">
            Mary
            <br />
            Anderson
          </h2>
          <button class="flex flex-none justify-center items-center rounded-full w-6 h-6 transition-all duration-300 bg-foreground text-background focus:ring-2 focus:ring-foreground">
            <svg data-icon="play-fill" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="currentColor"
              ><path
                d="M340-302.23v-355.54q0-15.84 10.87-26 10.87-10.15 25.37-10.15 4.53 0 9.5 1.31 4.97 1.3 9.49 3.92l279.84 178.15q8.24 5.62 12.35 13.46 4.12 7.85 4.12 17.08 0 9.23-4.12 17.08-4.11 7.84-12.35 13.46L395.23-271.31q-4.53 2.62-9.52 3.92-4.98 1.31-9.51 1.31-14.51 0-25.35-10.15-10.85-10.16-10.85-26Z"
              ></path></svg
            >
          </button>
        </div>
        <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">Enjoy my latest music collection</p>
        <div class="w-full mt-4 flex items-center justify-between gap-1">
          <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
            <svg data-icon="skip-previous-outline" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 -960 960 960" fill="currentColor"
              ><path
                d="M244.62-297.69v-364.62q0-12.75 8.63-21.37 8.62-8.63 21.38-8.63t21.37 8.63q8.62 8.62 8.62 21.37v364.62q0 12.75-8.63 21.37-8.63 8.63-21.39 8.63-12.75 0-21.37-8.63-8.61-8.62-8.61-21.37Zm414.53-7.16L441.92-450.08q-8.23-5.61-12.15-13.15T425.85-480q0-9.23 3.92-16.77 3.92-7.54 12.15-13.15l217.23-145.23q4.62-3.62 9.85-4.62 5.23-1 10.23-1 14.46 0 25.31 9.94 10.84 9.95 10.84 26.22v289.22q0 16.27-10.84 26.22-10.85 9.94-25.31 9.94-5 0-10.23-1t-9.85-4.62ZM655.38-480Zm0 100v-200L504.77-480l150.61 100Z"
              ></path></svg
            >
          </button>
          <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
            <svg data-icon="skip-next-outline" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 -960 960 960" fill="currentColor"
              ><path
                d="M655.38-297.69v-364.62q0-12.75 8.63-21.37 8.63-8.63 21.39-8.63 12.75 0 21.37 8.63 8.61 8.62 8.61 21.37v364.62q0 12.75-8.63 21.37-8.62 8.63-21.38 8.63T664-276.32q-8.62-8.62-8.62-21.37Zm-410.76-37.7v-289.22q0-16.27 10.84-26.22 10.85-9.94 25.31-9.94 5 0 10.23 1t9.85 4.62l217.23 145.23q8.23 5.61 12.15 13.15t3.92 16.77q0 9.23-3.92 16.77-3.92 7.54-12.15 13.15L300.85-304.85q-4.62 3.62-9.85 4.62-5.23 1-10.23 1-14.46 0-25.31-9.94-10.84-9.95-10.84-26.22Zm60-144.61Zm0 100 150.61-100-150.61-100v200Z"
              ></path></svg
            >
          </button>
          <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground/5">
            <svg data-icon="shuffle" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 -960 960 960" fill="currentColor"
              ><path
                d="M605.61-148q-15.74 0-25.87-10.63-10.12-10.63-10.12-26.38 0-15.76 10.62-25.87Q590.87-221 606.61-221h83.01L572.77-337.85q-10.92-10.92-10.81-24.69.12-13.77 11.42-25.08 11.31-11.3 24.89-11.3t24.88 11.3L739-272.15v-82.08q0-15.75 10.63-25.88 10.63-10.12 26.38-10.12 15.76 0 25.87 10.12Q812-369.98 812-354.23v157.07q0 20.37-14.4 34.76-14.39 14.4-34.76 14.4H605.61Zm-447.69-9.92q-11.69-11.7-11.69-25.08 0-13.39 11.69-25.08L688.85-739h-83.24q-15.74 0-25.87-10.63-10.12-10.63-10.12-26.38 0-15.76 10.62-25.87Q590.87-812 606.61-812h156.23q20.37 0 34.76 14.4 14.4 14.39 14.4 34.76v156.07q0 15.75-10.13 25.88-10.13 10.12-25.88 10.12-15.76 0-26.37-10.62Q739-592.02 739-607.77v-81.08L208.08-157.92q-11.31 11.3-24.89 11.5-13.57.19-25.27-11.5Zm.39-594.39q-11.31-11.3-11.12-24.88.2-13.58 11.43-24.89 11.23-11.3 25.07-11.3 13.85 0 24.77 11.3l176.85 177.62q11.3 11.31 11.11 24.88-.19 13.58-11.11 24.57-11.18 11.24-24.82 11.24t-24.95-11.31L158.31-752.31Z"
              ></path></svg
            >
          </button>
        </div>
      </section>
    </article>
    <article class="border break-inside rounded-xl p-4 mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-center gap-2 justify-start">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/66.jpg" alt="avatar" loading="lazy" />
        <div class="flex flex-col">
          <h2 class="text-sm font-medium leading-snug">
            Armando
            <br />
            Ortega
          </h2>
        </div>
      </header>
      <p class="text-xs mt-2 text-gray-500 dark:text-gray-400">Personal assistant from company</p>
      <button class="mt-3 flex-none w-full px-3 border h-7 text-xs flex items-center justify-center rounded-full transition-colors duration-200 border-border hover:bg-foreground/5">
        Connect
      </button>
    </article>
    <article class="border break-inside rounded-xl p-3 mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-start gap-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/41.jpg" alt="avatar" loading="lazy" />
        <h2 class="text-sm font-medium">
          Jhonatan
          <br />
          Smith
        </h2>
      </header>
      <div class="flex items-center justify-between w-full mt-3">
        <span class="flex items-center justify-center px-2 h-5 text-[11px] rounded font-medium bg-amber-100 text-black">Missing</span>
        <button class="inline-flex items-center justify-center w-8 h-8 focus:ring-2 transition-colors rounded-full focus:ring-primary hover:bg-foreground/5">
          <svg data-icon="more-horiz" xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28" fill="currentColor"
            ><path
              d="M213.07-406q-30.59 0-52.21-21.79-21.63-21.78-21.63-52.37 0-30.59 21.79-52.21Q182.8-554 213.39-554q30.59 0 52.22 21.79 21.62 21.78 21.62 52.37 0 30.59-21.78 52.21Q243.66-406 213.07-406Zm266.77 0q-30.59 0-52.21-21.79Q406-449.57 406-480.16q0-30.59 21.79-52.21Q449.57-554 480.16-554q30.59 0 52.21 21.79Q554-510.43 554-479.84q0 30.59-21.79 52.21Q510.43-406 479.84-406Zm266.77 0q-30.59 0-52.22-21.79-21.62-21.78-21.62-52.37 0-30.59 21.78-52.21Q716.34-554 746.93-554q30.59 0 52.21 21.79 21.63 21.78 21.63 52.37 0 30.59-21.79 52.21Q777.2-406 746.61-406Z"
            ></path></svg
          >
        </button>
      </div>
    </article>
    <article class="border break-inside rounded-xl p-3 mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-start gap-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/women/40.jpg" alt="avatar" loading="lazy" />
        <h2 class="text-sm font-medium">
          Marianna
          <br />
          Green
        </h2>
      </header>
      <div class="flex items-center justify-between w-full mt-3">
        <span class="flex items-center justify-center px-2 h-5 text-[11px] rounded font-medium bg-green-100 text-black">Online</span>
        <button class="inline-flex items-center justify-center w-8 h-8 focus:ring-2 transition-colors rounded-full focus:ring-primary hover:bg-foreground/5">
          <svg data-icon="more-horiz" xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28" fill="currentColor"
            ><path
              d="M213.07-406q-30.59 0-52.21-21.79-21.63-21.78-21.63-52.37 0-30.59 21.79-52.21Q182.8-554 213.39-554q30.59 0 52.22 21.79 21.62 21.78 21.62 52.37 0 30.59-21.78 52.21Q243.66-406 213.07-406Zm266.77 0q-30.59 0-52.21-21.79Q406-449.57 406-480.16q0-30.59 21.79-52.21Q449.57-554 480.16-554q30.59 0 52.21 21.79Q554-510.43 554-479.84q0 30.59-21.79 52.21Q510.43-406 479.84-406Zm266.77 0q-30.59 0-52.22-21.79-21.62-21.78-21.62-52.37 0-30.59 21.78-52.21Q716.34-554 746.93-554q30.59 0 52.21 21.79 21.63 21.78 21.63 52.37 0 30.59-21.79 52.21Q777.2-406 746.61-406Z"
            ></path></svg
          >
        </button>
      </div>
    </article>
    <article class="overflow-hidden border break-inside rounded-xl mb-3 flex flex-col divide-y divide-border text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-start gap-2 p-3">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/42.jpg" alt="avatar" loading="lazy" />
        <h2 class="text-sm font-medium">
          Angel
          <br />
          Llorente
        </h2>
      </header>
      <div class="flex items-center justify-between w-full p-4 bg-foreground/5">
        <span class="flex items-center justify-center px-2 h-5 text-[11px] rounded font-medium bg-background shadow-xs">Inactive</span>
        <button class="inline-flex items-center justify-center w-8 h-8 focus:ring-2 transition-colors rounded-full focus:ring-primary hover:bg-foreground/5">
          <svg data-icon="more-horiz" xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28" fill="currentColor"
            ><path
              d="M213.07-406q-30.59 0-52.21-21.79-21.63-21.78-21.63-52.37 0-30.59 21.79-52.21Q182.8-554 213.39-554q30.59 0 52.22 21.79 21.62 21.78 21.62 52.37 0 30.59-21.78 52.21Q243.66-406 213.07-406Zm266.77 0q-30.59 0-52.21-21.79Q406-449.57 406-480.16q0-30.59 21.79-52.21Q449.57-554 480.16-554q30.59 0 52.21 21.79Q554-510.43 554-479.84q0 30.59-21.79 52.21Q510.43-406 479.84-406Zm266.77 0q-30.59 0-52.22-21.79-21.62-21.78-21.62-52.37 0-30.59 21.78-52.21Q716.34-554 746.93-554q30.59 0 52.21 21.79 21.63 21.78 21.63 52.37 0 30.59-21.79 52.21Q777.2-406 746.61-406Z"
            ></path></svg
          >
        </button>
      </div>
    </article>
    <article class="flex flex-col overflow-hidden border break-inside rounded-xl mb-3 gap-2 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex flex-col items-start p-3">
        <span class="material-symbols-rounded material-symbols-xl material-symbols-weight-300">familiar_face_and_zone</span>
        <h2 class="mt-3 text-base font-medium">Your profile</h2>
        <p class="text-foreground/70">Configure your profile settings</p>
      </header>
      <section class="flex items-center justify-between gap-2 w-full p-3 border-t border-border inset-shadow-sm">
        <div class="flex flex-col items-start flex-1">
          <p class="text-foreground/50">45 min ago</p>
        </div>
        <button class="flex items-center justify-center w-6 h-6 rounded-full transition-colors duration-200 hover:bg-foreground/5 focus:bg-foreground/10">
          <span class="material-symbols-rounded material-symbols-sm">edit</span>
        </button>
      </section>
    </article>
  </section>

  <article class="overflow-hidden grid grid-cols-12 border break-inside rounded-xl text-xs mb-3 divide-x divide-border border-border bg-background text-foreground" data-filter="social">
    <div class="grid flex-1 h-full divide-y col-span-8 divide-border">
      <div class="px-3 pt-3 pb-2 flex flex-col items-start justify-center gap-0.5 overflow-auto">
        <section class="flex items-center justify-start overflow-x-auto gap-2">
          <div class="flex flex-col gap-1 w-full max-w-24">
            <img
              src="https://images.pexels.com/photos/9008763/pexels-photo-9008763.jpeg?w=800&h=400&dpr=2"
              data-author="https://www.pexels.com/es-es/@yankrukov/"
              alt="Cover"
              class="w-full object-cover rounded h-full max-h-10"
            />
            <p class="truncate">Yan Krukau and Pavel</p>
          </div>
          <div class="flex flex-col gap-1 w-full max-w-24">
            <img
              src="https://images.pexels.com/photos/8044098/pexels-photo-8044098.jpeg?w=800&h=400&dpr=2"
              data-author="https://www.pexels.com/es-es/@anthonyshkraba-production/"
              alt="Cover"
              class="w-full object-cover rounded h-full max-h-10"
            />
            <p class="truncate">Yan Krukau and Pavel</p>
          </div>
          <div class="flex flex-col gap-1 w-full max-w-24">
            <img
              src="https://images.pexels.com/photos/8132766/pexels-photo-8132766.jpeg?w=800&h=400&dpr=2"
              data-author="https://www.pexels.com/es-es/@anna-pou/"
              alt="Cover"
              class="w-full object-cover rounded h-full max-h-10"
            />
            <p class="truncate">Yan Krukau and Pavel</p>
          </div>
          <div class="flex flex-col gap-1 w-full max-w-24">
            <img
              src="https://images.pexels.com/photos/8132766/pexels-photo-8132766.jpeg?w=800&h=400&dpr=2"
              data-author="https://www.pexels.com/es-es/@anna-pou/"
              alt="Cover"
              class="w-full object-cover rounded h-full max-h-10"
            />
            <p class="truncate">Yan Krukau and Pavel</p>
          </div>
          <div class="flex flex-col gap-1 w-full max-w-24">
            <img
              src="https://images.pexels.com/photos/8132766/pexels-photo-8132766.jpeg?w=800&h=400&dpr=2"
              data-author="https://www.pexels.com/es-es/@anna-pou/"
              alt="Cover"
              class="w-full object-cover rounded h-full max-h-10"
            />
            <p class="truncate">Yan Krukau and Pavel</p>
          </div>
          <div class="flex flex-col gap-1 w-full max-w-24">
            <img
              src="https://images.pexels.com/photos/8132766/pexels-photo-8132766.jpeg?w=800&h=400&dpr=2"
              data-author="https://www.pexels.com/es-es/@anna-pou/"
              alt="Cover"
              class="w-full object-cover rounded h-full max-h-10"
            />
            <p class="truncate">Yan Krukau and Pavel</p>
          </div>
        </section>
      </div>
      <div class="px-4 py-3 flex items-center justify-start bg-foreground/2">
        <div class="w-full grid gap-2">
          <div class="flex items-center justify-between gap-4"><span class="text-xs font-semibold">02:80</span> <span class="text-xs font-semibold">03:45</span></div>
          <div class="inline-flex items-center justify-between w-full h-6">
            <div class="bg-foreground rounded-[1px] w-0.5 h-[3px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-1.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-2"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[7px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[9px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[11px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[13px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[17px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-3.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-1.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[9px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[13px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[9px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[11px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[7px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[5px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[3px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[5px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-2.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-2.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-1.5"></div>
            <div class="bg-foreground/20 w-0.5 h-3.5"></div>
            <div class="bg-foreground/20 w-0.5 h-[11px]"></div>
            <div class="bg-foreground/20 w-0.5 h-[19px]"></div>
            <div class="bg-foreground/20 w-0.5 h-[15px]"></div>
            <div class="bg-foreground/20 w-0.5 h-[7px]"></div>
            <div class="bg-foreground/20 w-0.5 h-1"></div>
            <div class="bg-foreground/20 w-0.5 h-[9px]"></div>
            <div class="bg-foreground/20 w-0.5 h-2"></div>
            <div class="bg-foreground/20 w-0.5 h-1.5"></div>
            <div class="bg-foreground/20 w-0.5 h-1"></div>
            <div class="bg-foreground/20 w-0.5 h-0.5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-none grid gap-1 h-full col-span-4 p-4 place-items-center text-center">
      <img
        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
        alt="avatar"
        class="w-10 h-10 rounded-full"
        loading="lazy"
      />
      <p>Singer and songwriter</p>
      <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground text-background">
        <svg data-icon="play-fill" xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22" fill="currentColor"
          ><path
            d="M340-302.23v-355.54q0-15.84 10.87-26 10.87-10.15 25.37-10.15 4.53 0 9.5 1.31 4.97 1.3 9.49 3.92l279.84 178.15q8.24 5.62 12.35 13.46 4.12 7.85 4.12 17.08 0 9.23-4.12 17.08-4.11 7.84-12.35 13.46L395.23-271.31q-4.53 2.62-9.52 3.92-4.98 1.31-9.51 1.31-14.51 0-25.35-10.15-10.85-10.16-10.85-26Z"
          ></path></svg
        >
      </button>
    </div>
  </article>

  <article class="overflow-hidden grid grid-cols-12 border break-inside rounded-xl text-xs mb-3 divide-x divide-border border-border bg-background text-foreground" data-filter="social">
    <div class="grid flex-1 h-full divide-y col-span-8 divide-border">
      <div class="p-4 flex flex-col items-start justify-center">...</div>
      <div class="px-4 py-3 flex items-center justify-start bg-foreground/2">
        <div class="w-full grid gap-2">
          <div class="inline-flex items-center justify-between w-full h-6">
            <div class="bg-foreground rounded-[1px] w-0.5 h-[3px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-1.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-2"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[7px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[9px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[11px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-3.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-1.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[9px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[13px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[9px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[7px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[5px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[3px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-[5px]"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-2.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-2.5"></div>
            <div class="bg-foreground rounded-[1px] w-0.5 h-1.5"></div>
            <div class="bg-foreground/20 w-0.5 h-3.5"></div>
            <div class="bg-foreground/20 w-0.5 h-[11px]"></div>
            <div class="bg-foreground/20 w-0.5 h-[7px]"></div>
            <div class="bg-foreground/20 w-0.5 h-1"></div>
            <div class="bg-foreground/20 w-0.5 h-[9px]"></div>
            <div class="bg-foreground/20 w-0.5 h-2"></div>
            <div class="bg-foreground/20 w-0.5 h-1.5"></div>
            <div class="bg-foreground/20 w-0.5 h-1"></div>
            <div class="bg-foreground/20 w-0.5 h-0.5"></div>
          </div>
          <div class="flex items-center justify-between gap-4">
            <span class="text-xs font-semibold">02:80</span>
            <span class="text-xs font-semibold">03:45</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-none grid gap-3 h-full col-span-4 py-4 place-items-center text-center">
      <div class="w-full flex items-center justify-center gap-2 overflow-hidden">
        <img
          src="https://images.pexels.com/photos/4492924/pexels-photo-4492924.jpeg?w=200&h=200&dpr=2"
          data-author="https://images.pexels.com/photos/4492924/pexels-photo-4492924.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt="avatar"
          class="w-8 h-8 rounded-full object-cover opacity-45"
          loading="lazy"
        />
        <img
          src="https://images.pexels.com/photos/1630638/pexels-photo-1630638.jpeg?w=160&h=160&dpr=2"
          data-author="https://www.pexels.com/es-es/@satyakam-chakravarty-768967/"
          alt="avatar"
          class="w-10 h-10 rounded-full object-cover"
          loading="lazy"
        />
        <img
          src="https://images.pexels.com/photos/6032213/pexels-photo-6032213.jpeg?w=160&h=160&dpr=2"
          data-author="https://www.pexels.com/es-es/@becerragoveaphoto/"
          alt="avatar"
          class="w-8 h-8 rounded-full object-cover opacity-45"
          loading="lazy"
        />
      </div>
      <div class="w-full px-4">
        <p class="font-semibold">Camila Anderson pepe</p>
      </div>
      <button class="w-7 h-7 rounded-full inline-flex items-center justify-center flex-none bg-foreground text-background">
        <svg data-icon="pause" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 -960 960 960" fill="currentColor"
          ><path
            d="M588.65-240.92q-12.86 0-21.52-9.08-8.67-9.08-8.67-21.12v-417.76q0-12.04 8.67-21.12 8.66-9.08 21.52-9.08h85.58q12.03 0 21.11 9.08t9.08 21.12v417.76q0 12.04-9.08 21.12-9.08 9.08-21.11 9.08h-85.58Zm-302 0q-12.86 0-21.52-9.08-8.67-9.08-8.67-21.12v-417.76q0-12.04 8.67-21.12 8.66-9.08 21.52-9.08H373q11.44 0 20.81 9.08 9.38 9.08 9.38 21.12v417.76q0 12.04-9.38 21.12-9.37 9.08-20.81 9.08h-86.35Z"
          ></path></svg
        >
      </button>
    </div>
  </article>
</Expo>
