---
import Root from '@/layouts/Root.astro'
import Layout from '@/layouts/Root.astro'
---

<Root title="Hello World" description="This is a sample Astro page.">
  <h1 class="text-3xl font-bold underline bg-success">Hello world!</h1>
</Root>
