---
import Expo from "@/layouts/Expo.astro";
---

<Expo>
  <section class="grid grid-cols-12 gap-3 mb-3 break-inside items-start">
    <article class="col-span-4 border break-inside overflow-hidden relative flex flex-col gap-2 rounded-xl text-xs p-3 bg-background text-foreground border-border" data-filter="finance">
      <header class="flex flex-col items-center text-center gap-2 flex-none">
        <svg class="w-9 h-9" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
          <defs>
            <linearGradient x1="49.9733228%" y1="-0.0235524798%" x2="49.9733228%" y2="99.9898856%" id="linearGradient-1">
              <stop stop-color="#F9AA4B" offset="0%"></stop>
              <stop stop-color="#F7931A" offset="100%"></stop>
            </linearGradient>
          </defs>
          <g>
            <path
              d="M252.171181,158.953845 C235.068666,227.562366 165.558445,269.267547 97.0483714,252.165422 C28.4382829,235.063298 -13.2678496,165.554665 3.83466519,97.0461553 C20.93718,28.4376335 90.3473861,-13.2675466 158.957475,3.83457763 C227.467548,20.8366894 269.273696,90.345323 252.171181,158.953845 L252.171181,158.953845 L252.171181,158.953845 Z"
              fill="url(#linearGradient-1)"
            >
            </path>
            <path
              d="M188.944877,112.05 C191.444877,95.05 178.544877,85.85 160.744877,79.75 L166.544877,56.65 L152.544877,53.15 L146.944877,75.65 C143.244877,74.75 139.444877,73.85 135.644877,73.05 L141.244877,50.45 L127.244877,46.95 L121.544877,69.95 C118.444877,69.25 115.444877,68.55 112.544877,67.85 L112.544877,67.75 L93.1448775,62.95 L89.4448775,77.95 C89.4448775,77.95 99.8448775,80.35 99.6448775,80.45 C105.344877,81.85 106.344877,85.65 106.144877,88.65 L99.5448775,114.95 C99.9448775,115.05 100.444877,115.15 101.044877,115.45 C100.544877,115.35 100.044877,115.25 99.5448775,115.05 L90.3448775,151.85 C89.6448775,153.55 87.8448775,156.15 83.9448775,155.15 C84.0448775,155.35 73.7448775,152.65 73.7448775,152.65 L66.7448775,168.75 L85.0448775,173.35 C88.4448775,174.25 91.7448775,175.05 95.0448775,175.95 L89.2448775,199.25 L103.244877,202.75 L109.044877,179.65 C112.844877,180.65 116.644877,181.65 120.244877,182.55 L114.544877,205.55 L128.544877,209.05 L134.344877,185.75 C158.344877,190.25 176.344877,188.45 183.844877,166.75 C189.944877,149.35 183.544877,139.25 170.944877,132.65 C180.244877,130.55 187.144877,124.45 188.944877,112.05 L188.944877,112.05 L188.944877,112.05 Z M156.844877,157.05 C152.544877,174.45 123.144877,165.05 113.644877,162.65 L121.344877,131.75 C130.844877,134.15 161.444877,138.85 156.844877,157.05 L156.844877,157.05 Z M161.244877,111.75 C157.244877,127.65 132.844877,119.55 124.944877,117.55 L131.944877,89.55 C139.844877,91.55 165.344877,95.25 161.244877,111.75 L161.244877,111.75 Z"
              fill="#FFFFFF"
            >
            </path>
          </g>
        </svg>
        <h2 class="font-medium">Bitcoins</h2>
      </header>
      <section>
        <svg class="w-full" viewBox="0 0 57 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.5 16.0771C2.22019 15.7164 0.957196 17.0165 0.500122 17.9182H56.4999V13.3571C55.9285 17.2646 54.0665 11.9405 53 12.9925C52.3075 9.71362 51.4641 15.308 49.7098 16.0771C49.2909 14.5241 46.202 11.5537 45.105 13.3571C43.7338 15.6115 41.3429 13.109 41.0001 12.2073C40.6573 11.3055 38.0905 10.0537 36.605 11.8571C35.1195 13.6606 35.4762 12.8724 34.105 12.8724C32.7338 12.8724 30.0009 7.39801 29.3153 6.1957C28.4025 4.59507 25.4284 14.9424 24.605 12.8724C23.3474 9.71093 26.1456 8.46015 20.5 1.46309C18.5598 -0.941537 18.6775 7.49359 14.0981 12.2073C10.314 16.1023 9.25324 9.60692 6.55636 15.8142C5.64221 17.9182 5.09976 16.528 3.5 16.0771Z"
            fill="url(#paint0_linear_136_2526)"
          >
          </path>
          <path
            d="M0.500122 17.9182C0.957196 17.0165 2.22019 15.7164 3.5 16.0771C5.09976 16.528 5.64221 17.9182 6.55636 15.8142C9.25324 9.60692 10.314 16.1023 14.0981 12.2073C18.6775 7.49359 18.5598 -0.941537 20.5 1.46309C26.1456 8.46015 23.3474 9.71093 24.605 12.8724C25.4284 14.9424 28.4025 4.59507 29.3153 6.1957C30.0009 7.39801 32.7338 12.8724 34.105 12.8724C35.4762 12.8724 35.1195 13.6606 36.605 11.8571C38.0905 10.0537 40.6573 11.3055 41.0001 12.2073C41.3429 13.109 43.7338 15.6115 45.105 13.3571C46.202 11.5537 49.2909 14.5241 49.7098 16.0771C51.4641 15.308 52.3075 9.71362 53 12.9925C54.0665 11.9405 55.9285 17.2646 56.4999 13.3571"
            stroke="#2D81FF"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
          </path>
          <defs>
            <linearGradient id="paint0_linear_136_2526" x1="28.5" y1="1.04053" x2="28.5" y2="17.9182" gradientUnits="userSpaceOnUse">
              <stop stop-color="#2D81FF" stop-opacity="0.48"></stop>
              <stop offset="1" stop-color="#0043ff0f" stop-opacity="0.1"></stop>
            </linearGradient>
          </defs>
        </svg>
      </section>
    </article>
    <article class="col-span-4 border break-inside overflow-hidden relative flex flex-col gap-2 rounded-xl text-xs p-3 bg-background text-foreground border-border" data-filter="finance">
      <header class="flex flex-col items-center text-center gap-2 flex-none">
        <svg class="w-9 h-9" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <circle cx="16" cy="16" r="16" fill="#627EEA"></circle>
            <g fill="#FFF" fill-rule="nonzero">
              <path fill-opacity=".602" d="M16.498 4v8.87l7.497 3.35z"></path>
              <path d="M16.498 4L9 16.22l7.498-3.35z"></path>
              <path fill-opacity=".602" d="M16.498 21.968v6.027L24 17.616z"></path>
              <path d="M16.498 27.995v-6.028L9 17.616z"></path>
              <path fill-opacity=".2" d="M16.498 20.573l7.497-4.353-7.497-3.348z"></path>
              <path fill-opacity=".602" d="M9 16.22l7.498 4.353v-7.701z"></path>
            </g>
          </g>
        </svg>
        <h2 class="font-medium">Ethereum</h2>
      </header>
      <section>
        <svg class="w-full" viewBox="0 0 61 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.60486 7.93025C4.32505 7.56955 1.85222 15.1441 1.39514 16.0459H59.6048V3.72215C59.0335 7.62967 56.5107 1.31753 55.4442 2.36955C54.7517 -0.909323 52.3591 13.4356 50.6049 14.2047C50.1859 12.6517 45.9142 1.31753 44.8172 3.121C43.446 5.37533 42.2379 11.2366 41.8951 10.3349C41.5523 9.43313 40.5904 -0.674871 39.1049 1.1286C37.6194 2.93207 31.5815 11.6274 30.2103 11.6274C28.8391 11.6274 30.8959 5.52562 30.2103 4.32331C29.2976 2.72268 25.2186 6.39327 24.3951 4.32331C23.1375 1.16185 24.9809 14.9273 19.3353 7.93025C17.3951 5.52562 19.5725 5.6212 14.9931 10.3349C11.209 14.2299 10.1483 7.73453 7.45138 13.9418C6.53723 16.0459 7.20462 8.38111 5.60486 7.93025Z"
            fill="url(#paint0_linear_136_1890)"
          >
          </path>
          <path
            d="M1.39514 16.0459C1.85222 15.1441 4.32505 7.56955 5.60486 7.93025C7.20462 8.38111 6.53723 16.0459 7.45138 13.9418C10.1483 7.73453 11.209 14.2299 14.9931 10.3349C19.5725 5.6212 17.3951 5.52562 19.3353 7.93025C24.9809 14.9273 23.1375 1.16185 24.3951 4.32331C25.2186 6.39327 29.2976 2.72268 30.2103 4.32331C30.8959 5.52562 28.8391 11.6274 30.2103 11.6274C31.5815 11.6274 37.6194 2.93207 39.1049 1.1286C40.5904 -0.674871 41.5523 9.43313 41.8951 10.3349C42.2379 11.2366 43.446 5.37533 44.8172 3.121C45.9142 1.31753 50.1859 12.6517 50.6049 14.2047C52.3591 13.4356 54.7517 -0.909323 55.4442 2.36955C56.5107 1.31753 59.0335 7.62967 59.6048 3.72215"
            stroke="#2D81FF"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
          </path>
          <defs>
            <linearGradient id="paint0_linear_136_1890" x1="30.5" y1="0.913574" x2="30.5" y2="16.5" gradientUnits="userSpaceOnUse">
              <stop stop-color="#2D81FF" stop-opacity="0.51"></stop>
              <stop offset="1" stop-color="#0043ff0f" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </section>
    </article>
    <article class="col-span-4 border break-inside overflow-hidden relative flex flex-col gap-2 rounded-xl text-xs p-3 bg-background text-foreground border-border" data-filter="finance">
      <header class="flex flex-col items-center text-center gap-2 flex-none">
        <svg class="w-9 h-9" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter color-interpolation-filters="auto" id="a">
              <feColorMatrix in="SourceGraphic" values="0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0"></feColorMatrix>
            </filter>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <circle fill="#5942CC" fill-rule="nonzero" cx="16" cy="16" r="16"></circle>
            <g filter="url(#a)">
              <path
                d="M20.707 19.543a1 1 0 010 1.414l-4 4a1 1 0 11-1.414-1.414l4-4a1 1 0 011.414 0zM15 7.25a6 6 0 110 12 6 6 0 010-12zm0 2a4 4 0 100 8 4 4 0 000-8zm7-2a1 1 0 110 2 1 1 0 010-2z"
                fill="#000000"
                fill-rule="nonzero"
              >
              </path>
            </g>
          </g>
        </svg>
        <h2 class="font-medium">Graph</h2>
      </header>
      <section>
        <svg class="w-full" viewBox="0 0 61 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.60486 7.93025C4.32505 7.56955 1.85222 15.1441 1.39514 16.0459H59.6048V3.72215C59.0335 7.62967 56.5107 1.31753 55.4442 2.36955C54.7517 -0.909323 52.3591 13.4356 50.6049 14.2047C50.1859 12.6517 45.9142 1.31753 44.8172 3.121C43.446 5.37533 42.2379 11.2366 41.8951 10.3349C41.5523 9.43313 40.5904 -0.674871 39.1049 1.1286C37.6194 2.93207 31.5815 11.6274 30.2103 11.6274C28.8391 11.6274 30.8959 5.52562 30.2103 4.32331C29.2976 2.72268 25.2186 6.39327 24.3951 4.32331C23.1375 1.16185 24.9809 14.9273 19.3353 7.93025C17.3951 5.52562 19.5725 5.6212 14.9931 10.3349C11.209 14.2299 10.1483 7.73453 7.45138 13.9418C6.53723 16.0459 7.20462 8.38111 5.60486 7.93025Z"
            fill="url(#paint0_linear_136_1897)"
          >
          </path>
          <path
            d="M1.39514 16.0459C1.85222 15.1441 4.32505 7.56955 5.60486 7.93025C7.20462 8.38111 6.53723 16.0459 7.45138 13.9418C10.1483 7.73453 11.209 14.2299 14.9931 10.3349C19.5725 5.6212 17.3951 5.52562 19.3353 7.93025C24.9809 14.9273 23.1375 1.16185 24.3951 4.32331C25.2186 6.39327 29.2976 2.72268 30.2103 4.32331C30.8959 5.52562 28.8391 11.6274 30.2103 11.6274C31.5815 11.6274 37.6194 2.93207 39.1049 1.1286C40.5904 -0.674871 41.5523 9.43313 41.8951 10.3349C42.2379 11.2366 43.446 5.37533 44.8172 3.121C45.9142 1.31753 50.1859 12.6517 50.6049 14.2047C52.3591 13.4356 54.7517 -0.909323 55.4442 2.36955C56.5107 1.31753 59.0335 7.62967 59.6048 3.72215"
            stroke="#ED1261"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
          </path>
          <defs>
            <linearGradient id="paint0_linear_136_1897" x1="30.5" y1="0.913574" x2="30.5" y2="16.0459" gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1261" stop-opacity="0.54"></stop>
              <stop offset="1" stop-color="#ff00a30f" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </section>
    </article>
    <article class="col-span-6 border break-inside overflow-hidden relative flex flex-col gap-2 rounded-xl text-xs p-3 bg-background text-foreground border-border" data-filter="finance">
      <header class="flex flex-col items-center text-center gap-2 flex-none">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/66.jpg" alt="avatar" loading="lazy" />
        <div class="grid text-center">
          <h2 class="font-medium text-sm">Marc Alex</h2>
          <p class="text-foreground/60">Director for sales</p>
        </div>
      </header>
      <section>
        <svg class="w-full" viewBox="0 0 61 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.60486 7.93025C4.32505 7.56955 1.85222 15.1441 1.39514 16.0459H59.6048V3.72215C59.0335 7.62967 56.5107 1.31753 55.4442 2.36955C54.7517 -0.909323 52.3591 13.4356 50.6049 14.2047C50.1859 12.6517 45.9142 1.31753 44.8172 3.121C43.446 5.37533 42.2379 11.2366 41.8951 10.3349C41.5523 9.43313 40.5904 -0.674871 39.1049 1.1286C37.6194 2.93207 31.5815 11.6274 30.2103 11.6274C28.8391 11.6274 30.8959 5.52562 30.2103 4.32331C29.2976 2.72268 25.2186 6.39327 24.3951 4.32331C23.1375 1.16185 24.9809 14.9273 19.3353 7.93025C17.3951 5.52562 19.5725 5.6212 14.9931 10.3349C11.209 14.2299 10.1483 7.73453 7.45138 13.9418C6.53723 16.0459 7.20462 8.38111 5.60486 7.93025Z"
            fill="url(#paint0_linear_136_1897443fr)"
          >
          </path>
          <path
            d="M1.39514 16.0459C1.85222 15.1441 4.32505 7.56955 5.60486 7.93025C7.20462 8.38111 6.53723 16.0459 7.45138 13.9418C10.1483 7.73453 11.209 14.2299 14.9931 10.3349C19.5725 5.6212 17.3951 5.52562 19.3353 7.93025C24.9809 14.9273 23.1375 1.16185 24.3951 4.32331C25.2186 6.39327 29.2976 2.72268 30.2103 4.32331C30.8959 5.52562 28.8391 11.6274 30.2103 11.6274C31.5815 11.6274 37.6194 2.93207 39.1049 1.1286C40.5904 -0.674871 41.5523 9.43313 41.8951 10.3349C42.2379 11.2366 43.446 5.37533 44.8172 3.121C45.9142 1.31753 50.1859 12.6517 50.6049 14.2047C52.3591 13.4356 54.7517 -0.909323 55.4442 2.36955C56.5107 1.31753 59.0335 7.62967 59.6048 3.72215"
            stroke="#ED1261"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
          </path>
          <defs>
            <linearGradient id="paint0_linear_136_1897443fr" x1="30.5" y1="0.913574" x2="30.5" y2="16.0459" gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1261" stop-opacity="0.40"></stop>
              <stop offset="1" stop-color="#ed126100" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </section>
    </article>
    <article class="col-span-6 border break-inside rounded-xl p-3 mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
      <header class="flex items-start gap-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/41.jpg" alt="avatar" loading="lazy" />
        <h2 class="text-sm font-medium">
          Jhonatan
          <br />
          Smith
        </h2>
      </header>
      <section class="mt-2">
        <p class="text-xs text-foreground/60">Personal assistant from company</p>
      </section>
      <section class="flex items-center justify-between w-full mt-3 gap-2">
        <svg class="w-full max-w-full" viewBox="0 0 57 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.5 16.0771C2.22019 15.7164 0.957196 17.0165 0.500122 17.9182H56.4999V13.3571C55.9285 17.2646 54.0665 11.9405 53 12.9925C52.3075 9.71362 51.4641 15.308 49.7098 16.0771C49.2909 14.5241 46.202 11.5537 45.105 13.3571C43.7338 15.6115 41.3429 13.109 41.0001 12.2073C40.6573 11.3055 38.0905 10.0537 36.605 11.8571C35.1195 13.6606 35.4762 12.8724 34.105 12.8724C32.7338 12.8724 30.0009 7.39801 29.3153 6.1957C28.4025 4.59507 25.4284 14.9424 24.605 12.8724C23.3474 9.71093 26.1456 8.46015 20.5 1.46309C18.5598 -0.941537 18.6775 7.49359 14.0981 12.2073C10.314 16.1023 9.25324 9.60692 6.55636 15.8142C5.64221 17.9182 5.09976 16.528 3.5 16.0771Z"
            fill="url(#paint0_linear_136_2526)"
          >
          </path>
          <path
            d="M0.500122 17.9182C0.957196 17.0165 2.22019 15.7164 3.5 16.0771C5.09976 16.528 5.64221 17.9182 6.55636 15.8142C9.25324 9.60692 10.314 16.1023 14.0981 12.2073C18.6775 7.49359 18.5598 -0.941537 20.5 1.46309C26.1456 8.46015 23.3474 9.71093 24.605 12.8724C25.4284 14.9424 28.4025 4.59507 29.3153 6.1957C30.0009 7.39801 32.7338 12.8724 34.105 12.8724C35.4762 12.8724 35.1195 13.6606 36.605 11.8571C38.0905 10.0537 40.6573 11.3055 41.0001 12.2073C41.3429 13.109 43.7338 15.6115 45.105 13.3571C46.202 11.5537 49.2909 14.5241 49.7098 16.0771C51.4641 15.308 52.3075 9.71362 53 12.9925C54.0665 11.9405 55.9285 17.2646 56.4999 13.3571"
            stroke="#2D81FF"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
          </path>
          <defs>
            <linearGradient id="paint0_linear_136_2526" x1="28.5" y1="1.04053" x2="28.5" y2="17.9182" gradientUnits="userSpaceOnUse">
              <stop stop-color="#2D81FF" stop-opacity="0.48"></stop>
              <stop offset="1" stop-color="#0043ff0f" stop-opacity="0.1"></stop>
            </linearGradient>
          </defs>
        </svg>
        <button class="inline-flex flex-none items-center justify-center w-8 h-8 focus:ring-2 transition-colors rounded-full focus:ring-primary hover:bg-foreground/5 focus:ring-blue-600">
          <span class="material-symbols-rounded">more_horiz</span>
        </button>
      </section>
    </article>
  </section>

  <article class="overflow-hidden border break-inside rounded-xl mb-3 text-xs border-border bg-background text-foreground" data-filter="social">
    <section class="p-6 relative border-t border-border divide-y divide-border">
      <div
        class="z-0 opacity-80 pointer-events-none h-4 absolute bottom-0 left-0 w-full hidden border-t border-border border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-black)]/5 md:block dark:[--pattern-fg:var(--color-white)]/10"
      >
      </div>
      <div
        class="z-0 opacity-80 pointer-events-none h-4 absolute top-0 left-0 w-full hidden border-b border-border border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-black)]/5 md:block dark:[--pattern-fg:var(--color-white)]/10"
      >
      </div>
      <div
        class="z-0 opacity-80 pointer-events-none h-full absolute top-0 left-0 w-4 hidden border-b border-border border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-black)]/5 md:block dark:[--pattern-fg:var(--color-white)]/10"
      >
      </div>
      <div
        class="z-0 opacity-80 pointer-events-none h-full absolute top-0 right-0 w-4 hidden border-b border-border border-x border-x-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-black)]/5 md:block dark:[--pattern-fg:var(--color-white)]/10"
      >
      </div>
      <div class="grid gap-2 p-2 place-items-start">
        <span class="px-2 h-5 rounded inline-flex items-center justify-center leading-5 font-medium bg-emerald-200 text-emerald-700 dark:bg-emerald-500/20 dark:text-emerald-400"> NEW </span>
        <div class="w-full flex items-center justify-between gap-4">
          <h2 class="font-medium text-sm">Draw a minimal <br />logo for a startup</h2>
          <svg class="w-full max-w-full flex-1" viewBox="0 0 61 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.60486 7.93025C4.32505 7.56955 1.85222 15.1441 1.39514 16.0459H59.6048V3.72215C59.0335 7.62967 56.5107 1.31753 55.4442 2.36955C54.7517 -0.909323 52.3591 13.4356 50.6049 14.2047C50.1859 12.6517 45.9142 1.31753 44.8172 3.121C43.446 5.37533 42.2379 11.2366 41.8951 10.3349C41.5523 9.43313 40.5904 -0.674871 39.1049 1.1286C37.6194 2.93207 31.5815 11.6274 30.2103 11.6274C28.8391 11.6274 30.8959 5.52562 30.2103 4.32331C29.2976 2.72268 25.2186 6.39327 24.3951 4.32331C23.1375 1.16185 24.9809 14.9273 19.3353 7.93025C17.3951 5.52562 19.5725 5.6212 14.9931 10.3349C11.209 14.2299 10.1483 7.73453 7.45138 13.9418C6.53723 16.0459 7.20462 8.38111 5.60486 7.93025Z"
              fill="url(#paint0_linear_136_18979dkd__)"
            >
            </path>
            <path
              d="M1.39514 16.0459C1.85222 15.1441 4.32505 7.56955 5.60486 7.93025C7.20462 8.38111 6.53723 16.0459 7.45138 13.9418C10.1483 7.73453 11.209 14.2299 14.9931 10.3349C19.5725 5.6212 17.3951 5.52562 19.3353 7.93025C24.9809 14.9273 23.1375 1.16185 24.3951 4.32331C25.2186 6.39327 29.2976 2.72268 30.2103 4.32331C30.8959 5.52562 28.8391 11.6274 30.2103 11.6274C31.5815 11.6274 37.6194 2.93207 39.1049 1.1286C40.5904 -0.674871 41.5523 9.43313 41.8951 10.3349C42.2379 11.2366 43.446 5.37533 44.8172 3.121C45.9142 1.31753 50.1859 12.6517 50.6049 14.2047C52.3591 13.4356 54.7517 -0.909323 55.4442 2.36955C56.5107 1.31753 59.0335 7.62967 59.6048 3.72215"
              stroke="#0bd998"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
            </path>
            <defs>
              <linearGradient id="paint0_linear_136_18979dkd__" x1="30.5" y1="0.913574" x2="30.5" y2="16.0459" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0bd998" stop-opacity="0.54"></stop>
                <stop offset="1" stop-color="#0bd99800" stop-opacity="0"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </section>
  </article>

  <article class="break-inside overflow-hidden relative flex items-center gap-2 rounded-xl text-xs mb-3 p-3 bg-foreground/5" data-filter="finance">
    <header class="flex items-center gap-3 flex-1 w-full">
      <span class="w-10 h-10 bg-blue-700 rounded-full flex items-center justify-center text-lg font-bold text-white">B</span>
      <div class="flex flex-col gap-0.5">
        <h3 class="text-sm font-medium">International Bank</h3>
        <p class="text-foreground/70">0,46 04Q &middot; 11,05 &euro;</p>
      </div>
    </header>
    <div class="flex flex-col items-end text-xs gap-1">
      <span class="font-semibold">5,00 &euro;</span>
      <div class="flex items-center gap-0.5 text-xs">
        <svg data-icon="arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" width="16" height="16" class="text-green-500">
          <path fill="none" stroke="currentColor" d="M12,19V5"></path>
          <polyline fill="none" stroke="currentColor" points="5 12 12 5 19 12"></polyline>
        </svg>
        <span class="text-green-500">+ 0,46%</span>
      </div>
    </div>
  </article>

  <article class="break-inside overflow-hidden relative flex items-center gap-2 rounded-xl text-sm mb-3 p-3 bg-violet-100 dark:text-white dark:bg-violet-500/30" data-filter="finance">
    <header class="flex items-center gap-3 flex-1 w-full">
      <span class="w-10 h-10 bg-violet-700 rounded-full flex items-center justify-center text-lg font-bold text-white">A</span>
      <div class="flex flex-col gap-0.5">
        <h3 class="text-sm font-medium">American Bank</h3>
        <p class="text-xs">0,16 04Q &middot; 88,00 &euro;</p>
      </div>
    </header>
    <div class="flex flex-col items-end text-xs gap-1">
      <span class="font-semibold">8,00 &euro;</span>
      <div class="flex items-center gap-0.5 text-xs h-6 px-1 rounded bg-violet-600/10 dark:bg-violet-600/30">
        <svg data-icon="arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" width="16" height="16" class="text-violet-800 dark:text-violet-300">
          <path fill="none" stroke="currentColor" d="M12,19V5"></path>
          <polyline fill="none" stroke="currentColor" points="5 12 12 5 19 12"></polyline>
        </svg>
        <span class="text-violet-800 dark:text-violet-300">+ 0,46%</span>
      </div>
    </div>
  </article>
</Expo>
