---
import '@/styles/global.css'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Aside from '@/components/Aside.astro'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props as Props
---

<!doctype html>
<html lang="en">
  <head class="motion-safe:scroll-smooth">
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <Aside />
    <slot />
  </body>
</html>
